@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
}

.hero-video {
    width: 100%;
}

.hero-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.page-heading {
    color: white;
    font-size: 4rem;
    background-color: transparent;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    
}

.sub-heading {
    color: white;
    background-color: transparent;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.button-heading {
    position: absolute;
    right: 47%;
    bottom: 35%;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px white solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    transition: 1s;
}

.button-heading:hover {
    box-shadow: 0 0 10px #61fff7,
                0 0 40px #91d5ff,
                0 0 80px #0022ff;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}

@media screen and (max-width: 1200px) {
    .page-heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 2rem;
    }

    .button-heading {
        font-size: 0.8rem;
        right: 46%;
    }
}

@media screen and (max-width: 940px) {
    .page-heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 1.8rem;
        top: 50%;
    }

    .button-heading {
        font-size: 0.8rem;
        right: 46%;
        bottom: 30%;
    }
}

@media screen and (max-width: 829px) {
    .sub-heading {
        font-size: 1.8rem;
        top: 52%;
    }
}

@media screen and (max-width: 769px) {
    .sub-heading {
        font-size: 1.6rem;
        top: 53%;
    }

    .button-heading {
        font-size: 0.6rem;
        right: 46%;
        bottom: 28%;
    }
}

@media screen and (max-width: 650px) {
    .page-heading {
        font-size: 2rem;
    }

    .sub-heading {
        font-size: 1.2rem;
        top: 50%;
    }

    .button-heading {
        font-size: 0.6rem;
        right: 46%;
        bottom: 30%;
        padding: 5px;
    }
}

@media screen and (max-width: 584px) {
    .page-heading {
        font-size: 2rem;
    }

    .sub-heading {
        font-size: 1.2rem;
        top: 52%;
    }

    .button-heading {
        font-size: 0.6rem;
        right: 46%;
        bottom: 30%;
        padding: 5px;
    }
}

@media screen and (max-width: 481px) {
    .page-heading {
        font-size: 2rem;
    }

    .sub-heading {
        font-size: 1rem;
        top: 54%;
    }

    .button-heading {
        font-size: 0.4rem;
        right: 46%;
        bottom: 30%;
        padding: 2px;
    }
}

@media screen and (max-width: 390px) {
    .page-heading {
        font-size: 1.5rem;
    }

    .sub-heading {
        font-size: 1rem;
        top: 54%;
    }

    .button-heading {
        font-size: 0.4rem;
        right: 46%;
        bottom: 28%;
        padding: 2px;
    }
}

@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }



